body{
    text-align: center;
    background-color: rgb(247, 134, 93);
    
}

button{
    margin: 0 auto;
    width: 100px;
    display: block;
}

.introHide{
    display: none;
    
}

/* Showing and hiding middle screen */
.middle-screen{
    display: none;
}

.showMiddle{
    display: block;
    font-size: 2.5rem;
}